<section class="py-6 xl:px-60 lg:px-32 px-6 bg-blue-100 space-y-6">
  <section class="text-center py-4">
    <h1
      class="text-5xl font-bold bg-gradient-to-r from-blue-600 to-cyan-500 bg-clip-text text-transparent mb-4"
    >
      Quran Chapters
    </h1>

    <p class="max-w-2xl mx-auto text-lg text-gray-600 leading-relaxed">
      Discover the 114 sacred chapters of the Holy Quran, each containing divine guidance and
      wisdom.
    </p>
  </section>

  <div class="mb-8">
    <ui-input
      placeholder="Search surah by name..."
      icon="search"
      size="md"
      rounded="lg"
      icon="search"
      variant="filled"
      (onChange)="onSearchChange($event)"
    />
  </div>

  @if (loading()) {
  <div class="text-center py-8">
    <p class="text-gray-600">Loading surahs...</p>
  </div>
  } @if(error()){
  <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mb-4">
    {{ error() }}
  </div>
  } @if (!loading() && !error()) {
  <div class="grid xl:grid-cols-3 lg:grid-cols-2 grid-cols-1 gap-4">
    @for (surah of filteredSurahs(); track surah.number; let i = $index) {
    <ui-card>
      <div class="flex justify-between items-start">
        <div>
          <h2 class="text-xl font-semibold text-gray-800 mb-1">{{ i + 1 }}. {{ surah.name }}</h2>
          <h3 class="text-lg text-gray-600 mb-2">
            {{ surah.englishName }}
          </h3>
          <p class="text-sm text-gray-500">
            {{ surah.englishNameTranslation }}
          </p>
        </div>
        <div class="text-right text-sm text-gray-500">
          <p>{{ surah.numberOfAyahs }} Ayat</p>
          <p class="capitalize">{{ surah.revelationType }}</p>
        </div>
      </div>
    </ui-card>
    }
  </div>
  }
</section>
